.title-subtitle-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  color: var(--color-heading);

  .title {
    font-size: 32px;
    padding: 40px 0 20px;
  }

  .extra-top-space {
    padding-top: 40px;
  }

  .subtitle {
    display: flex;
    justify-content: center;
    font-weight: 300;
  }
}
