.right-nav-container {
  position: fixed;
  top: 0;
  right: -30vw;
  width: 30vw;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-left: 2px solid var(--color-border);
  will-change: transform;
  background-color: var(--color-background);

  &.right-slide-in {
    animation: rightSlideIn 0.5s forwards;
    z-index: 100;
  }

  &.right-slide-out {
    animation: rightSlideOut 0.5s forwards;
    z-index: 100;
  }

  @media (max-width: 900px) {
    right: -80vw;
    width: 80vw;
  }

  .right-nav-header {
    display: flex;
    padding-left: 18px;
    font-size: 24px;

    .title {
      margin-top: 48px;
      color: var(--color-heading);
    }

    .title-strong {
      color: var(--primary);
      font-weight: bold;
    }
    .animation-exit {
      display: flex;
      position: absolute;
      top: 24px;
      right: 24px;
      cursor: pointer;
      background-color: var(--gray-soft);
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      margin-bottom: 16px;
      .exit-icon {
        fill: var(--white);
      }
    }
  }

  .right-nav-content {
    display: grid;
    align-items: center;
    height: 100%;
    .list {
      font-size: 16px;
      list-style-type: none;
      padding: 0;
      margin: 0;
      .item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        padding-left: 40px;
        color: var(--color-heading);
        cursor: pointer;


        @media (max-width: 1100px) {
          padding-left: 24px;
        }
        &:hover {
          background-color: var(--color-hover);
        }

        .svg {
          background-color: var(--white);
          width: 49px;
          height: 49px;
          cursor: pointer;
        }
  
        .link {
          font-size: 18px;
          margin-left: 18px;
        }
      }
    }
    .contact {
      border-top: 1px solid var(--color-border);
      width: 100%;
      display: grid;
      padding-bottom: 8px;
      padding-left: 40px;

      @media (max-width: 1100px) {
        padding-left: 24px;
      }

      .contact-tel {
        padding-top: 10px;

        a {
          font-size: 18px;
          color: var(--color-heading);
          font-weight: bold;
        }
      }

      .contact-email {
        padding-top: 10px;

        a {
          font-size: 18px;
          color: var(--color-heading);
        }
      }
    }
  }

  @keyframes rightSlideIn {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes rightSlideOut {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes fadeIn {
    0% {
      visibility: hidden;
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
  }
}

.right-nav-bg {
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: rgba(20, 22, 27, 0.5);
  animation: fadeIn 0.5s forwards;
  z-index: 99;
}
