.menu {
  display: flex;

  .menu-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;

    .menu-item {
      padding: 0 10px;
    }

    .menu-span {
      z-index: 10;
      cursor: pointer;
      font-size: 18px; 
      color: var(--color-heading);
      background-image: linear-gradient(to right, var(--color-heading) 100%, transparent 100%);
      padding-bottom: 2px;
      background-repeat: no-repeat;
      background-position: 0 100%;
      background-size: 0% 2px;
      transition: background-size 0.3s, background-position 0s 0.3s;
      
      &:hover {
        background-position: 100% 100%;
        background-size: 100% 2px;
      }
    }
  }
}