.social-hover-container {
  display: grid;
  max-width: var(--max-width);
  grid-template-columns: repeat(6, 1fr);
  margin: 80px auto 0;

  @media (max-width: 900px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.item-black,
.item-light {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    opacity: 0.4;
  }
}

.item-black {
  background-color: var(--color-background);
}

.item-light {
  background-color: var(--color-hover);
}
