.images-title-overlay-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 40px auto;
  max-width: var(--max-width);

  @media (max-width: 900px) {
    grid-template-columns: repeat(1, 1fr);
    margin: 40px auto;
  }
}

.position {
  overflow: hidden;
  position: relative;
}

.item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    animation: fadeIn 1s forwards;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.text-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}

.bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.text {
  white-space: nowrap;
  color: var(--color-heading);
  width: 100%;
  text-align: center;
  z-index: 103;
}

.text-container {
  font-size: text(h3);
  color: var(--color-heading);
}

@keyframes fadeIn {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.05, 1.05);
  }
  100% {
    transform: scale(1, 1);
  }
}
