.mission-vision {
  display: flex;
  justify-content: center;
  margin: 24px auto;
  font-size: 20px;
  padding: 0 20px;
  max-width: var(--max-width);

  .title {
    font-weight: bold;
    color: var(--color-heading);
  }
}

.about-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 24px auto;
  gap: 8px;
  padding: 0 20px;
  max-width: var(--max-width);
  gap: 20px;

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }

  .sub-title {
    margin-bottom: 8px;
    text-align: center;
    color: var(--color-heading);
    font-weight: bold;
    @media (max-width: 900px) {
      text-align: left;
    }
  }
}
