.footer-copyright {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: var(--color-hover);
  padding: 16px 0;
  margin: 40px auto 0;
  text-align: center;
  max-width: var(--max-width);
}
