@import './base.scss';

#app {
  width: 100%;
}

a {
  text-decoration: none;
  color: transparent;
}

@media (hover: hover) {
  a:hover {
    background-color: transparent;
  }
}

.icon {
  cursor: pointer;
  #path-1 {
    stroke: var(--color-background-oposite);
  }
  #path-2 {
    fill: var(--color-background-oposite);
  }
  #path-3 {
    fill: var(--color-background);
  }
  #path-4 {
    stroke: var(--color-background);
  }
}

.primary {
  color: var(--primary);
}
